<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coin_investment</title>
    <style>
        .left-info {
            width: 240px;
            padding: 18px 0px 12px;
            display: inline-block;
            border: 1px solid black;
            float: left;
            text-align: center; 
        }   
        .login-btn{
            margin : 15px;
            display: block;
            width : 200px;
            height : 33px;
            text-align : center;
            color : #fff;
            border : 0;
            background-color:  #14776a;
        }
        .register{
            padding : 0 15px;
            position: relative;
            font-size: 15px;
            color : black;
        }
        .search{
            padding : 20px 0px 15px;
            font-size :15px;
            color : black;
        }
        .log-out{
            font-size :15px;
            padding : 15px 0 12px;
        }
        .left-menu{
            font-size : 30px;
            text-align: center;
            color : black;
        }
        .all{
            text-align: center;
            font-size : 30px;
            padding : 20px 0 15px;
        }
        #ul>li{
            list-style : none;
            padding : 0px 20px 15px;
            
        }
        .content{
            width : 900px;
            float : left;
            border : 1;
        }
        .list{
            list-style : none;
            padding : 3px;
        }
        .newslist{
            float : none;
        }
        .rows{
            display: block;
            cursor : pointer;
            padding : 3px 5px;
        }
        .title{
            font-weight : bold;
            border-bottom : 1px solid black;

        }
        .content-wrap{

        }
    </style>
</head>
<body>
        <header><%- include("header") %></header>
        <div class="container" style="border: 1px solid black;">
                <div class = "left-info">
                    <h2>
                        <a href ="/board" title ="메인 페이지로 이동">메인으로 이동</a>
                    </h2>                
                <div class="log-out">   
                <p>"로그인을 해주세요"</p>
                <br>
                    <a href ="/login" class="login-btn">
                        <img src="<%=logoDataURI%>" 
                        alt="logo"
                        height="30px"
                        width = "130px"
                        >
                        로그인</a>  
                    </div>
                <div class="register">
                    <a href = "/register">회원가입</a>&nbsp;&nbsp;&nbsp;
                    <a href = "" >ID/Password 찾기</a>
                </div>
                <div class ="search" id="main-search">
                    <form action ="" method="get">
                        <input type ="text" name ="keyword" placeholder="게시판 검색">
                        <button type ="submit">검색</button>
                    </form>
                </div>
                <hr>
                <div class ="left-menu">
                <br>
                <div>
                    <h3 class = "all">통합 게시판</h3>
                    <ol id = "ul">
                        <li>
                            <span style ="font-weight : bold">
                                <a href ="/board/free">자유게시판</a>
                            </span>
                        </li>
                        <li>
                            <span style ="font-weight : bold">
                                <a href ="/board/notice">공지사항</a>
                            </span>
                        </li>
                        <li>
                            <span style ="font-weight : bold">
                                <a href ="/board/news">뉴스</a>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
            </div>
            <div class="content">
                <section class="content-wrap">
                    <article class="list-left">
                        <div class="title">
                            <h3 style="font-size: 23px">
                                <a href="/board/news">뉴스 게시판</a>
                            </h3>
                        </div>
                        <div class="newslist">
                            <ul class="list">
                                <% if (list.length === 0) { %>
                                    <li class="rows"></li>
                                <% } else { %>                                  
                                    <% list.forEach(data => { %>
                                        <li class="rows">
                                            <a href="/board/data/<%= data.BOARD_ID %>">
                                                <%= data.BOARD_TITLE %>
                                            </a>
                                            <hr>
                                        </li>
                                    <% }) %>
                                <% } %> 

                            </ul>
                        </div> 
                    </article>
                    <article class="list-right">
                        <div class="title">
                            <h3 style="font-size: 23px">
                                <a href="/board/notice">공지사항 게시판</a>
                            </h3>
                        </div>
                        <div class="newslist">
                            <ul class="list">
                                <% if (list.length === 0) { %>
                                    <li class="rows">공지사항이 없습니다.</li>
                                <% } else { %>                                  
                                    <% list.forEach(data => { %>
                                        <li class="rows">
                                            <a href="/board/bm_notice/<%= data.BOARD_ID %>">
                                                <%= data.BOARD_TITLE %>
                                            </a>
                                            <hr>
                                        </li>
                                    <% }) %>
                                <% } %> 
                            </ul>
                        </div> 
                    </article>
                </section>
            </div>
            </div>
            </div>
            </div>
        <div class= "footer">
        </div>
    </div>
</body>
</html>