<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coin_investment</title>
    <script>
      
      
      onload = async () => {
          // 보유 KRW 
          let money = document.getElementById("money");
          // 총 보유자산
          let money_coin = document.getElementById("money_coin");
          // 총 매수 금액
          let total_buy_coin_cost = document.getElementById("total_buy_coin_cost");
          
          // 보유 KRW 구하기
          fetch("/wallet/have_KRW",{
            method : "post",
            headers : {"Content-Type":"application/json"},
            body : JSON.stringify()
            })
            .then(res => res.json())
            .then(result => {
                let KRW = result.MONEY.toLocaleString();
                money.textContent = KRW;
            })
          
          // 총 매수 금액 구하기
          fetch("/wallet/total_buy_coin_cost",{
            method : "post",
            headers : {"Content-Type":"application/json"},
            body : JSON.stringify()
          })
          .then(res => res.json())
          .then(result => {
            let total_buy_cost_result = result.toLocaleString();
            total_buy_coin_cost.innerText = total_buy_cost_result;
            return;
          })
          
          // 총 평가 금액 1초 간격으로 갱신
          await setInterval(total_buy_coin_result_cost, 1000);
          
          // 총 평가 손익, 총 평가 수익률 1초 간격으로 갱신
          await setInterval(total_plus_minus, 1000);

          // 총 보유자산 1초 간격으로 갱신
          await setInterval(total_money, 1000);

          // 평가 금액, 평가 손익 1초 간격으로 갱신
          await setInterval(each_now_coin_cost, 1000);

        }
        

        // 총 평가 금액 구하는 함수
        function total_buy_coin_result_cost() {
          fetch("/wallet/total_buy_coin_result_cost",{
            method : "post",
            headers : {"Content-Type":"application/json"},
            body : JSON.stringify()
          })
          .then(res => res.json())
          .then(result => {
            if(result.toLocaleString() == 0){
              return;
            }else{
              document.getElementById("total_buy_coin_result_cost").innerText = result.toLocaleString();
              return;
            }
          })
        }
        

        // 총 평가 손익 구하는 함수
        function total_plus_minus() {
          let total_result_cost = document.getElementById("total_result_cost");
          let total_result_percent = document.getElementById("total_result_percent");

          // toLocaleString 자료형을 다시 파싱하여 Int 로 변환하여 사용
          let total_buy_string = document.getElementById("total_buy_coin_cost").innerText;
          let total_buy_result_string = document.getElementById("total_buy_coin_result_cost").innerText;
          
          // 숫자 자릿 수 표현했던 , 파싱
          let total_buy = parseInt(total_buy_string.replace(/,/g, ''), 10);
          let total_buy_result = parseInt(total_buy_result_string.replace(/,/g, ''), 10);

          if(isNaN(total_buy_result - total_buy)){
          }else{
            total_result_cost.innerText = (total_buy_result - total_buy).toLocaleString();
            total_result_percent.innerText = ((total_buy_result - total_buy) / total_buy * 100).toFixed(2) + "%";
          }

          if(total_buy_result - total_buy > 0){
            total_result_cost.style.color = "red";
            total_result_percent.style.color = "red";
          }else if(total_buy_result - total_buy < 0){
            total_result_cost.style.color = "blue";
            total_result_percent.style.color = "blue";
          }
        }

        function total_money() {
          // 보유 KRW, 총 평가금액 ( 숫자 자릿 수 , 로 적혀 있어 파싱해서 써야 함 )
          let money_toLocaleString = document.getElementById("money").innerText;
          let total_buy_result_toLocalestring = document.getElementById("total_buy_coin_result_cost").innerText;

          // 파싱한 Int 자료형
          let money = parseInt(money_toLocaleString.replace(/,/g, ''), 10);
          let total_buy_result = parseInt(total_buy_result_toLocalestring.replace(/,/g, ''), 10);
          
          if(isNaN(money + total_buy_result)){
            document.getElementById("money_coin").textContent = ""
          }else{
            document.getElementById("money_coin").textContent = (Number((money + total_buy_result).toFixed(0))).toLocaleString();
          }
        }

        function each_now_coin_cost() {
          let tr_num = document.querySelectorAll('#tr_num');

          for(let i=0; i<tr_num.length; i++){
            let coin_name = document.getElementById(`coin_name_${i}`).textContent;
            let coin_num = document.getElementById(`coin_num_${i}`).textContent;

            let data = {coin : coin_name};
            fetch("/wallet/now_coin_cost",{
              method : "post",
              headers : {"Content-Type":"application/json"},
              body : JSON.stringify(data)
            })
            .then(res => res.json())
            .then(result => {
              document.getElementById(`each_now_coin_cost_${i}`).textContent = (result * coin_num).toLocaleString();
              let each_coin_buy_cost_toLocaleString = document.getElementById(`each_coin_buy_cost_${i}`).textContent;
              let each_coin_buy_cost = parseInt(each_coin_buy_cost_toLocaleString.replace(/,/g, ''), 10);

              // 평가 손익 표현 부분
              document.getElementById(`each_now_coin_result_${i}`).textContent = (Number((each_coin_buy_cost - result).toFixed(0))).toLocaleString();

              if((each_coin_buy_cost - result) > 0){
                document.getElementById(`each_now_coin_result_${i}`).style.color = "red";
              }else if((each_coin_buy_cost - result) < 0){
                document.getElementById(`each_now_coin_result_${i}`).style.color = "blue";
              }
            })
          }
        }

        function hide_coin_button() {
          // 테이블 행의 갯수 확인
          let tr_num = document.querySelectorAll('#tr_num');

          // 체크박스에 체크가 되었는지 확인
          let checkbox = document.getElementById("hide_coin");
          
          for(let i=0; i<tr_num.length; i++){
            let total_buy_result_toLocalestring = document.getElementById(`each_now_coin_cost_${i}`).textContent;

            let total_buy_result = parseInt(total_buy_result_toLocalestring.replace(/,/g, ''), 10);
            if(checkbox.checked){
              if(total_buy_result < 10000){
                document.querySelector(`.tr_num_${i}`).style.display = "none";
              }
            }else{
              document.querySelector(`.tr_num_${i}`).style.display = "";
            }
          }
        }
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      div {
        display: block;
      }
      a {
        text-decoration: none;
      }
      .wrap {
        min-width: 1340px;
        background: #f1f1f3;
        padding-bottom: 20px;
      }
      .header {
        width: 1280px;
        height: 100px;
        margin: 0px auto 0px;
      }
      .container {
        position: relative;
        width: 1280px;
        height: 1000px;
        margin: 20px auto 0px;
        padding-bottom: 60px;
        border: 1px solid black;
        background: white;
      }
      .footer {
        width: 1280px;
        height: 100px;
        margin: 20px auto 0px;
        border: 1px solid black;
        background: white;
        display: flex;
      }
      .top_login_register_box {
        display: inline-block;
        height: 20px;
        margin-top: 40px;
        margin-left: 910px;
        font-size: 17px;
        font-weight: bolder;
        text-align: right;
      }
      .top_login_button {
        font-size: 20px;
        margin-right: 40px;
        color: white;
      }
      .top_register_button {
        font-size: 20px;
        margin-right: 40px;
        color: white;
      }
      .top_logo {
        position: absolute;
        width: 150px;
        height: 70px;
        margin-left: 30px;
        margin-top: 15px;
        border: none;
        text-align: center;
      }
      .top_menu {
        position: absolute;
        width: 700px;
        height: 70px;
        margin-left: 210px;
        margin-top: 15px;
      }
      .top_menu_link {
        display: inline-block;
        height: 26px;
        margin-top: 22px;
        font-size: 26px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.3);
      }
      .top_menu_link:hover{
        color: rgba(255, 255, 255, 0.7);
      }
      .wallet_list{
        display: flex;
        height: 100px;
      }
      .wallet_list_box{
        width: 25%;
        height: 100%;
        text-align: center;
        font-size: x-large;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
      }
      .wallet_list_box:hover{
        border-bottom: 3px solid hsl(172, 71%, 27%);
        cursor: pointer;
      }
      .wallet_list_text{
        display: block;
        width: 100%;
        margin-top: 33px;
        color: black;
        font-weight: bold;
      }
      .asset_box{
        display: flex;
        height: 20px;
        padding: 50px;
      }
      .KRW_held_box{
        display: inline-block;
        width: 50%;
        height: 70px;
        border-bottom: 1px lightgray solid;
        color: gray;
        font-size: 25px;
      }
      .total_asset_held_box{
        display: inline-block;
        width: 50%;
        height: 70px;
        border-bottom: 1px lightgray solid;
        color: gray;
        font-size: 25px;
      }
      .KRW_text{
        position: absolute;
        display: inline-block;
        margin-left: 30px;
        margin-top: 15px;
        font-size: 17px;
      }
      #money{
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
        width: 350px;
        text-align: right;
        color: black;
        font-weight: bold;
        overflow: auto;
      }
      #money_coin{
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
        width: 350px;
        text-align: right;
        color: black;
        font-weight: bold;
        overflow: auto;
      }
      .total_coin_cost{
        display: flex;
        height: 100px;
        padding: 50px;
        color: gray;
        font-size: 17px;
      }
      .total_coin_cost1{
        width: 50%;
      }
      .total_coin_cost2{
        width: 50%;
      }
      .have_coin_list_box{
        height: 657px;
      }
      .have_coin_list_text{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px 20px;
        font-weight: bold;
      }
      .checkbox_hide_coin{
        display: inline-block;
        margin-left: 732px;
      }
      .hide_coin_text:hover{
        cursor: pointer;
      }
      #total_buy_coin_cost{
        position: absolute;
        display: inline-block;
        width: 280px;
        color: black;
        font-size: 25px;
        text-align: right;
        margin-top: -8px;
        margin-left: 110px;
        font-family: monospace;
        font-weight: bold;
      }
      #total_buy_coin_result_cost{
        position: absolute;
        display: inline-block;
        width: 280px;
        color: black;
        font-size: 25px;
        text-align: right;
        margin-top: 8px;
        margin-left: 110px;
        font-family: monospace;
        font-weight: bold;
      }
      #total_result_cost{
        position: absolute;
        display: inline-block;
        width: 280px;
        color: black;
        font-size: 25px;
        text-align: right;
        margin-top: -8px;
        margin-left: 140px;
        font-family: monospace;
        font-weight: bold;
      }
      #total_result_percent{
        position: absolute;
        display: inline-block;
        width: 280px;
        color: black;
        font-size: 25px;
        text-align: right;
        margin-top: 8px;
        margin-left: 125px;
        font-family: monospace;
        font-weight: bold;
      }
      .have_coin_list{
        position: relative;
        height: 597px;
        overflow: auto;
      }
      th{
        background: lightgray;
        border-bottom: 1px solid black;
        height: 50px;
      }
      td{
        /* background: rgba(211, 211, 211, 0.2); */
        border-bottom: 1px solid black;
        height: 90px;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
        <div style="background-color: #14776a;">
            <div class="header">
                <div class="top_logo">
                    <a href="/">
                        <img src="<%=whitelogo%>" 
                            alt="logo"
                            height="70px"
                            >
                    </a>
                </div>
                <div class="top_menu">
                    <a href="/market" class="top_menu_link" style="margin-left: 20px;">거래소</a>
                    <a href="/board" class="top_menu_link" style="margin-left: 30px;">게시판</a>
                    <a href="/wallet" class="top_menu_link" style="margin-left: 30px; color: white;">내 코인</a>
                    <a href="/history" class="top_menu_link" style="margin-left: 30px;">거래내역</a>
                </div>
                <div class="top_login_register_box">
                        <a href="/login/userInfo" class="top_login_button">MY</a>
                        <a href="/login/logout" class="top_register_button">로그아웃</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="wallet_list">
                <div class="wallet_list_box" style="border-bottom: 3px solid #14776a;" onclick="location.href = `/wallet`">
                    <a href="/wallet" class="wallet_list_text">보유 코인</a>
                </div>
                <div class="wallet_list_box" onclick="location.href = `/wallet/income`">
                    <a href="/wallet/income" class="wallet_list_text">투자 손익</a>
                </div>
                <div class="wallet_list_box" onclick="location.href = `/wallet/wait_order`">
                    <a href="/wallet/wait_order" class="wallet_list_text">미체결</a>
                </div>
                <div class="wallet_list_box" style="border-right: none;" onclick="location.href = `/wallet/trade_list`">
                    <a href="/wallet/trade_list" class="wallet_list_text">체결 내역</a>
                </div>
            </div>
            <div class="asset_box">
                <div class="KRW_held_box">
                    보유KRW
                    <label id="money"></label>
                    <span class="KRW_text">KRW</span>
                </div>
                <div class="total_asset_held_box">
                    총 보유자산
                    <label id="money_coin"></label>
                    <span class="KRW_text">KRW</span>
                </div>
            </div>
            <div class="total_coin_cost">
                <div class="total_coin_cost1">
                    <label>총 매수 금액</label>
                    <div id="total_buy_coin_cost"></div>
                    <label style="margin-left: 400px;">KRW</label>
                    <br>
                    <label style="display: inline-block; margin-top: 15px;">총 평가 금액</label>
                    <div id="total_buy_coin_result_cost"></div>
                    <label style="margin-left: 400px;">KRW</label>
                    <br>
                    <label style="color: black; display: inline-block; margin-top: 15px;">＊KRW로 환산한 추정값</label>
                </div>
                <div class="total_coin_cost2">
                    <label>총 평가 손익</label>
                    <div id="total_result_cost"></div>
                    <label style="margin-left: 430px;">KRW</label>
                    <br>
                    <label style="display: inline-block; margin-top: 15px;">총 평가 수익률</label>
                    <div id="total_result_percent"></div>
                    <label style="margin-left: 413px;">KRW</label>
                </div>
            </div>
            <div class="have_coin_list_box">
                <div class="have_coin_list_text">
                    보유자산 목록
                    <div class="checkbox_hide_coin">
                        <input type="checkbox" id="hide_coin" onclick="hide_coin_button()">
                        <label for="hide_coin" class="hide_coin_text">거래미지원/소액 자산 숨기기 (평가금액 1만원 미만)</label>
                    </div>
                </div>
                <div class="have_coin_list">
                  <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                      <th>보유자산</th>
                      <th>보유수량</th>
                      <th>매수금액</th>
                      <th>평가금액</th>
                      <th>평가손익</th>
                    </thead>
                    <% let numOfKeys = Object.keys(have_coin_num).length %>
                    <%for(let i = 0; i < numOfKeys; i++){%>
                      <%let coin_name;%>
                      <%if(Object.keys(have_coin_num)[i] == "btc"){%>
                        <%coin_name = "비트코인"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "eth"){%>
                        <%coin_name = "이더리움"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "shib"){%>
                        <%coin_name = "시바이누"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "bch"){%>
                        <%coin_name = "비트코인캐시"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "etc"){%>
                        <%coin_name = "이더리움클래식"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "btg"){%>
                        <%coin_name = "비트코인골드"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "sol"){%>
                        <%coin_name = "솔라나"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "doge"){%>
                        <%coin_name = "도지코인"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "xrp"){%>
                        <%coin_name = "리플"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "id"){%>
                        <%coin_name = "스페이스아이디"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "pundix"){%>
                        <%coin_name = "펀디엑스"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "stx"){%>
                        <%coin_name = "스택스"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "aave"){%>
                        <%coin_name = "에이브"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "dot"){%>
                        <%coin_name = "폴카닷"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "avax"){%>
                        <%coin_name = "아발란체"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "gas"){%>
                        <%coin_name = "가스"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "sbd"){%>
                        <%coin_name = "스팀달러"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "ong"){%>
                        <%coin_name = "온톨로지가스"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "sei"){%>
                        <%coin_name = "세이"%>
                      <%}else if(Object.keys(have_coin_num)[i] == "ont"){%>
                        <%coin_name = "온톨로지"%>
                      <%}%>
                      <tr id="tr_num" class="tr_num_<%=i%>">
                        <td id="coin_name_<%=i%>"><%=coin_name%></td>
                        <td id="coin_num_<%=i%>"><%=have_coin_num[(Object.keys(have_coin_num)[i])]%></td>
                        <td id="each_coin_buy_cost_<%=i%>"><%=(Number((each_coin_had_cost[(Object.keys(have_coin_num)[i])] * have_coin_num[(Object.keys(have_coin_num)[i])]).toFixed(0))).toLocaleString()%></td>
                        <td id="each_now_coin_cost_<%=i%>"></td>
                        <td id="each_now_coin_result_<%=i%>"></td>
                      </tr>
                    <%}%>
                  </table>
                  <div id="have_coin_num" style="display: none;"><%=numOfKeys%></div>
                </div>
            </div>
        </div>
        <div class="footer">
          <div id="copyright_logo" style="margin-top: 15px;">
            <img src="<%=blacklogo%>" alt="logo" height="70px">
          </div>
          <div style="margin-top: 7px; margin-left: 10px;">
            고객센터 010-3858-5430 <label style="color: gray;">(평일 09:00~18:00/주말 및 공휴일 휴무) | </label>금융사고 전담 콜센터 1800-1111 <label style="color: gray;">(24시간 연중무휴)</label>
            <br>서울특별시 종로구 돈화문로 26, 4층
            <br><br><label style="color: gray;">Copyright 2024 coin_investment. All rights reserved.</label>
          </div>
        </div>
    </div>
  </body>
</html>
