<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coin_investment</title>
    <link rel="stylesheet" href="/css/bw_stylesheet.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
</head>
<body>
<div class="wrap">
    <div style="background-color: #14776a;">
        <div class="header">
            <div class="top_logo">
                <a href="/">
                    <img src="<%=logoDataURI%>" alt="logo" height="70px">
                </a>
            </div>
            <div class="top_menu">
                <a href="/market" class="top_menu_link" style="margin-left: 20px;">거래소</a>
                <a href="/board" class="top_menu_link" style="margin-left: 30px;">게시판</a>
                <a href="/wallet" class="top_menu_link" style="margin-left: 30px;">내 코인</a>
                <a href="/history" class="top_menu_link" style="margin-left: 30px;">거래내역</a>
            </div>
            <div class="top_login_register_box">
                <% if(member) { %>
                    <a href="/login/userInfo" class="top_login_button">MY</a>
                    <a href="/login/logout" class="top_register_button">로그아웃</a>
                <%} else{ %>
                    <a href="/login" class="top_login_button">로그인</a>
                    <a href="/register" class="top_register_button">회원가입</a>
                <%}%>
            </div>
        </div>
    </div>
  
    <!-- -------------------------아래는 수정하지 말것-------------------------- -->
    
    <div class="container">
        <form method="post" action="/board/data/<%=data.BOARD_ID%>"  enctype="multipart/form-data">

        <div class="board_top">
            <input type="hidden" name="BOARD_ID" value="<%=data.BOARD_ID%>">
            <b style="font-size: 30px;">게시글 수정</b>

            <input type="submit" class="button btnFade" value="완료">

            <input type="button" class="button btnFade" value="목록보기" 
                onClick="location.href='/board'">
                
        </div>
  
        <div class="toolbox_title">
            <select id="CateVal" name="category" class="combobox" style="margin: auto;" onchange="category()">
                
            </select>
    
           

            <b style="color: gray;">작성자 : <%=data.MEMBER_ID%></b>
            
            <div style="height: 5px;"></div>
            
            <input type="text" class="titlebox" 
            value="<%=data.BOARD_TITLE%>" name="title" />
            
            <div style="height: 5px;"></div>
            
        </div>

        <div class="toolbox_image">

            <div style="height: 30px;"> <b>이미지</b> </div> 

            <div class="filebox">
            <table>
                <td> <label for="file">파일찾기</label>  </td>
                <td> <input type="file" id= "file" name="img" onchange="readURL(this);"/> </td>
                <td> <img id="img" src="#" width=100 /> </td>
            </table>
              
            </div>
        
            </div>

            <textarea class="textarea" name="content"><%=data.BOARD_CONTENT%></textarea>

        </form> 
        </div>
    </div>
</div>
<div class="footer"></div>
<script>
   window.onload = () =>{
            var cate = [{ id: 0, title: '자유'}, { id: 1, title: '공지'},
                        { id: 2, title: '코인'}];
    
            var tag;
            for(var i=0; i<cate.length; i++){
                if(cate[i][0] == '<%=data.CATEGORY_ID%>') {
                    tag += `<option value=${cate[i].id} selected>${cate[i].title}</option>`;
                };
                tag += `<option value=${cate[i].id}>${cate[i].title}</option>`;
            };
            $('#CateVal').append(tag);
        
        
            let reader = new FileReader();
            reader.readAsDataURL( data.IMAGE_LINK )
            reader.onload = (e) => {
            document.getElementById("img").src = e.target.result;
        }
    }
      
            const readURL = (input) => {
                const file = input.files[0];
                if( file != "" ){
                    let reader = new FileReader();
                    reader.readAsDataURL( file )
                    reader.onload = (e) => {
                    document.getElementById("img").src = e.target.result;
                    }
                }
            }
                
    
         function category(n) {
                        const CaVal = n.value;
                        document.getElementById(CateVal) = CaVal;
                    }
            </script>
</body>
</html>